<link rel="stylesheet" href="/stylesheets/users/login.css">
<section>
    <%- include('../../partials/loginHeader') %>
        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="login-form">
                <!-- email -->
                <h2 class="head">Verification Required</h2>
                <p class="subHead">To continue, complete this verification step.</p>
                <label class="label">
                    Enter Email
                </label>
                <input type="text" class=" form-control" id="email" aria-describedby="emailHelp"
                    placeholder=" Enter email" onclick="clearSpan('emailSpan')">
                <span id="emailSpan" class="span"></span>
                <div class="button">
                    <button type="button" class="btn btn-warning" id="getOtp" onclick="getOtp()">Get OTP</button>
                </div>
                <hr class="dividngLine">
                <!-- verify otp -->
                <p class="subHead">We've sent an OTP to your email.
                    Please enter it below to complete verification.</p>
                <label class="label">
                    Enter OTP
                </label>
                <input type="text" class=" form-control" id="otp" aria-describedby="emailHelp" placeholder=" OTP"
                    onclick="clearSpan('otpSpan')">
                <span id="otpSpan" class="span"></span>
                <div class="button">
                    <button type="button" class="btn btn-warning" id="verifyOtp" disabled onclick="verifyOtp()">Verify
                        OTP</button>
                </div>
                <hr class="dividngLine">

                <!-- change password -->
                <p class="subHead">Now Enter your new password</p>
                <div class="password-box">
                    <input type="password" class=" form-control" id="my-password" placeholder="Enter your password">
                    <button class="show" type="button" id="visibility" onclick="togglePassword()">Show</button>
                </div>

                <!-- confirm password -->
                <label class="label">
                    Confirm Password
                </label>
                <input type="password" class=" form-control" id="confrmPsswrd" aria-describedby="emailHelp"
                    placeholder=" Confirm password" onclick="clearSpan('psswrdSpan')">
                <span id="psswrdSpan" class="span"></span>
                <div class="button">
                    <button class="btn  btn-success btn-lg btn-block" type="button" id="chngePsswrd" disabled
                        onclick="changePassword()">Change Password</button>
                </div>
            </div>
        </div>
        <%- include('../../partials/loginsFooter') %>
</section>
<script src="/javascripts/users/login.js"></script>