<link rel="stylesheet" href="/stylesheets/users/login.css">
<section>
    <%- include('../../partials/loginHeader') %>
        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="login-form">
                <h2 class="head">Password assistance</h2>
                <label class="label">
                    Email or mobile phone number
                </label>
                <input type="text" class=" form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email or mobile phone number">

                <div class="coloumn">
                    <button class="btn  btn-success btn-lg btn-block" type="button" id="signin_button"
                        style="margin-top: 1rem;" onclick="passwordReset()">Continue</button>
                    <hr class="dividngLine">
                    <p id="emailHelp" class="form-text formText">
                        If you no longer use the e-mail address associated with your Amazon account, you may contact
                        <u>Customer Service</u> for help restoring access to your account.</a> .
                    </p>
                </div>
            </div>
        </div>
        <%- include('../../partials/loginsFooter') %>
</section>
<script src="/javascripts/users/login.js"></script>