<link rel="stylesheet" href="/stylesheets/users/login.css">
<section>
    <%- include('../../partials/loginHeader') %>

        <div class="row align-items-center justify-content-center">
            <div class="login-form" id="signupform">
                <h2 class="head">Signup</h2>
                <label class="label" for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name"
                    onclick="clearSpan('nameSpan')" onblur="checkName()">
                <span id="nameSpan" class="span"></span><br>

                <label class="label" for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter you email"
                    onclick="clearSpan('emailSpan')" onblur="checkEmail()">
                <span id="emailSpan" class="span"></span><br>

                <label class="label" for="phone">Phone number</label>
                <input type="text" class="form-control" name="phone" id="phone"
                    placeholder="Enter your contact number" onclick="clearSpan('phoneSpan')" onblur="checkPhone()">
                <span id="phoneSpan" class="span"></span><br>
                
                <!-- change password -->
                <div class="password-box">
                    <label class="label">
                        Password
                    </label>
                    <input type="password" class=" form-control" id="password" placeholder="Enter your password"
                        onclick="clearSpan('passwordSpan')" onblur="isStrongPaswrd()">
                    <span id="passwordSpan" class="span"></span>
                    <button class="signupShow" type="button" id="visibility" onclick="togglePassword()">Show</button>
                </div>

                <!-- confirm password -->
                <label class="label">
                    Confirm Password
                </label>
                <input type="password" class=" form-control" id="confrmPsswrd" aria-describedby="emailHelp"
                    placeholder=" Confirm password" onclick="clearSpan('confrmPsswrdSpan')">
                <span id="confrmPsswrdSpan" class="span"></span>

                <div class="button">
                    <button class="addProduct_button btn btn-success btn-lg btn-block" type="button"
                        onclick="signup()">Signup</button>
                </div>
                <hr class="dividngLine">
                <a class="dropdown-item signup-text  " href="/login">Already have an account?</a>
            </div>
        </div>
        <%- include('../../partials/loginsFooter') %>
</section>
<script src="/javascripts/users/signup.js"></script>