.container {
    max-width: 90% !important;

}

.subHead {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-bottom: 2rem;
}

.subHead-txt {
    text-align: center;
    font-size: 2rem;
}

.addButton {
    width: 6rem;
    height: 2rem;
    padding: 0.2rem 0.2rem 0  0.2rem;
    font-size: 1rem;
}

.table {
    width: 100%;
}

@media only screen and (max-width: 790px) {
    .subHead-txt {
        font-size: 1rem;
    }

    .addButton {
        font-size: 0.8rem;
        height: 1.5rem !important;
        width: 5rem !important;
    }
}