.container {
    max-width: 90% !important;

}

.tno {
    width: 0.6rem;
}
.returnHead{
    max-width: 4rem;
    text-align: center;
}
.thead {
    width: 3rem;
    margin: 0 0.5rem;
}

.ttitle {
    width: 4rem;
    margin: 0 0.5rem;
}

.updateTxt {
    color: #000000;
    font-weight: 600;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.edittxt {
    color: #000000;
    font-size: 0.1rem !important;
    font-weight: 500;
    text-decoration: underline;
}

.disabledTxt {
    color: #505050;
    cursor: not-allowed
}

.disabledTxt:hover {
    text-decoration: none !important;
}

.getMore:hover {
    color: #000000;
}

.subHead {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    padding-bottom: 2rem;
}

.subHead-txt {
    text-align: center;
    font-size: 2rem;
}

.addButton {
    width: 6rem;
    height: 2rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
    font-size: 1rem;
}

.table {
    width: 100%;
}

@media only screen and (max-width: 790px) {
    .subHead-txt {
        font-size: 1rem;
    }

    .addButton {
        font-size: 0.8rem;
        height: 1.5rem !important;
        width: 5rem !important;
    }
}