<link rel="stylesheet" href="/stylesheets/admin/addProducts.css">
<%- include('../partials/adminHeaders') %>

    <div class="row align-items-center justify-content-center">
        <div class="addForm">
            <h2 class="head">Add a Product</h2>
            <!-- name -->
            <label class="label" for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Product Name">
            <!-- description -->
            <label class="label" for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Product description"></textarea>
            <!-- detailed description -->
            <label class="label" for="detailed_description">Detailed-Description</label>
            <textarea class="form-control" id="detailed_description" rows="3"
                placeholder="Product detailed description"></textarea>
            <!-- category -->
            <label class="label" for="category">Category</label>
            <select class="custom-select">
                <option id="category" selected>Ladies</option>
                <option value="1">Mens</option>
                <option value="2">Kids</option>
            </select>
            <!-- subcategory -->
            <label class="label" for="subCategory">SubCategory</label>
            <input type="text" class="form-control" name="subCategory" id="subCategory"
                placeholder="Product subCategory">
            <!-- size -->
            <label class="label" for="size">Size</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="size" type="checkbox" id="size-s" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">S</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="size" type="checkbox" id="size-m" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">M</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="size" type="checkbox" id="size-l" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">L</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="size" type="checkbox" id="size-xl" value="option4">
                <label class="form-check-label" for="inlineCheckbox3">XL</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="size" type="checkbox" id="size-xxl" value="option5">
                <label class="form-check-label" for="inlineCheckbox3">XXL</label>
            </div>
            <label class="label" for="color">Color</label>
            <!-- price -->
            <label class="label" for="price">Price</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="Product price">
            <!-- image -->
            <label class="label" for="image">Image</label>
            <input type="file" class="form-control-file" name="image" id="image" accept="image/*">
            <!-- detailed images -->
            <label class="label" for="image">Detailed Image</label>
            <div id="imageInputs">
                <div class="image-input">
                    <input type="file" class="form-control-file" name="image" accept="image/*" multiple>
                    <input type="color" name="color" value="#000000">
                </div>
            </div>

            <div class="button">
                <button class="addProduct_button btn btn-success btn-lg btn-block" type="button"
                    onclick="addProduct()">Add</button>
            </div>
        </div>
    </div>
    <script src="/javascripts/admin/adminUpdates.js"></script>