<link rel="stylesheet" href="/stylesheets/users/login.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<section>
    <%- include('../partials/headers/adminHeaders') %>

        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="login-form" style="margin-top: 5rem;">
                <h2 class="head">Login</h2>
                <label class="label">
                    Username
                </label>
                <input type="text" class=" form-control" id="my-email" aria-describedby="emailHelp"
                    placeholder=" Enter e-mailid">
                <label class="label mt-4">
                    Password
                </label>
                <div class="password-box">
                    <input type="password" class=" form-control" id="my-password" placeholder="Enter your password">
                    <button class="show" type="button" id="visibility" onclick="togglePassword()">Show</button>
                </div>
                <div class="coloumn">
                    <button class="btn  btn-success btn-lg btn-block" style="margin-top: 1rem;" type="button" id="signin_button"
                        onclick="handleSubmit()">Login</button>
                </div>
            </div>

        </div>
</section>
<%- include('../partials/loginsFooter') %>
<script src="/javascripts/admin/adminLogin.js"></script>