<link rel="stylesheet" href="/stylesheets/admin/adminDashboard.css">
<div>
    <%- include('../partials/adminHeaders') %>
    <h1 class="head">Welcome <%= admin.name %></h1>
    <p class="subhead">( This page shows the sales report )</p>
</div>
<%- include('../partials/loginsFooter') %>