<link rel="stylesheet" href="/stylesheets/users/auth.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section>
    <%- include('../../partials/loginHeader') %>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="card">
                    <div class="card-header" onclick="clearSpan('commonSpan')">
                        <h3 class="head mt-3">Verification Required</h3>
                    </div>
                    <div class="card-body">
                        <p class="subHead">To continue, complete this verification step.</p>
                        <label class="label">
                            Enter Email
                        </label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter email" onclick="clearSpan('emailSpan')">
                        <span id="emailSpan" class="span"></span>
                        <div class="button">
                            <button type="button" class="btn btn-warning" id="getOtp" onclick="getOtp()">Get
                                OTP</button>
                        </div>
                        <hr class="dividngLine">
                        <!-- verify otp -->
                        <p class="subHead">We've sent an OTP to your email. Please enter it below to complete
                            verification.</p>
                        <label class="label">
                            Enter OTP
                        </label>
                        <div class="subHead mt-3" id="resndTimer">Resend OTP in: <span id="timer"></span></div>
                        <a href="/user/resend/otp" class="resndTxt" id="resentTxt" style="display: none;">Resend OTP</a>

                        <input type="text" class="form-control" id="otp" aria-describedby="emailHelp" placeholder="OTP"
                            onclick="clearSpan('otpSpan')" disabled>
                        <span id="otpSpan" class="span"></span>
                        <div class="button">
                            <button type="button" class="btn btn-warning" id="verifyOtp" disabled
                                onclick="verifyOtp()">Verify OTP</button>
                        </div>
                        <hr class="dividngLine">

                        <!-- change password -->
                        <p class="subHead">Now Enter your new password</p>
                        <div class="password-box">
                            <input type="password" class="form-control" id="my-password"
                                placeholder="Enter your password" disabled>
                            <button class="show" type="button" id="visibility" onclick="togglePassword()">Show</button>
                        </div>

                        <!-- confirm password -->                       
                        <input type="password" class="form-control mt-4" id="confrmPsswrd" aria-describedby="emailHelp"
                            placeholder="Confirm password" onclick="clearSpan('psswrdSpanChange')" disabled>
                        <span id="psswrdSpanChange" class="span"></span>
                        <div class="button">
                            <button class="btn btn-success btn-lg btn-block" type="button" id="chngePsswrd" disabled
                                onclick="changePassword()">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../partials/loginsFooter') %>
</section>
<script src="/javascripts/users/login.js"></script>