<link rel="stylesheet" href="/stylesheets/users/auth.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="loginsSectn">
    <%- include('../../partials/loginHeader') %>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body" onclick="clearSpan('commonSpan')">
                    <span id="signupSpan" class="span"></span><br>
                    <span id="commonSpan" class="span"></span><br>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="my-email" aria-describedby="emailHelp"
                            placeholder="Enter e-mailid" onclick="clearSpan('emailSpan')">
                    </div>
                    <span id="emailSpan" class="span"></span>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <div class="password-box">
                            <input type="password" class="form-control passwordInput" id="my-password" 
                                placeholder="Enter your password" onclick="clearSpan('passwrdSpan')">
                            <button class="show" type="button" id="visibility" onclick="togglePassword()">Show</button>
                        </div>
                        <span id="passwrdSpan" class="span"></span>
                    </div>                                    
                    <div class="form-group">
                        <button class="btn float-right login_btn" type="button" id="signin_button"
                            onclick="login()">Login</button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="/user/signup">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/user/forgotPassword">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/loginsFooter') %>
</section>

<script src="/javascripts/users/login.js"></script>