<link rel="stylesheet" href="/stylesheets/users/login.css">

<section>
    <%- include('../../partials/loginHeader') %>

        <div class=" d-flex flex-column justify-content-center align-items-center ">
            <div class="login-form">
                <h2 class="head">Verification required</h2>
                <p  style="font-size: 0.8rem;">To continue, complete this verification step. We've sent an OTP to your email.
                    Please enter it below to complete verification.</p>
                <label class="label">
                    Enter OTP
                </label>
                <div class="otp-container d-flex justify-content-center align-items-center">
                    <input type="text" id="otp1" class="ml-4 otpLine" name="digit1" maxlength="1" pattern="\d" title="Please enter a digit" required>
                    <input type="text" id="otp2" class="ml-4 otpLine" name="digit2" maxlength="1" pattern="\d" title="Please enter a digit" required>
                    <input type="text" id="otp3" class="ml-4 otpLine" name="digit3" maxlength="1" pattern="\d" title="Please enter a digit" required>
                    <input type="text" id="otp4" class="ml-4 otpLine" name="digit4" maxlength="1" pattern="\d" title="Please enter a digit" required>
                    <input type="text" id="otp5" class="ml-4 otpLine" name="digit5" maxlength="1" pattern="\d" title="Please enter a digit" required>
                    <input type="text" id="otp6" class="ml-4 otpLine" name="digit6" maxlength="1" pattern="\d" title="Please enter a digit" required>
                </div>
                <div class="resnd mt-3" id="resndTimer">Resend OTP in: <span id="timer"></span></div>
                
                <hr class="dividngLine">
                <a href="/user/resend/otp" class="resndTxt" id="resentTxt">resend OTP</a>
                <div class="coloumn mt-2">                   
                    <button class="btn  btn-success btn-lg btn-block mt-4" type="button" id="signin_button"
                        onclick="verifyUser()">Verify</button>
                    
                </div>
            </div>
        </div>
        <%- include('../../partials/loginsFooter') %>
</section>
<script>
    let timerOn = true;

function timer(remaining) {
  var m = Math.floor(remaining / 60);
  var s = remaining % 60;
  
  m = m < 10 ? '0' + m : m;
  s = s < 10 ? '0' + s : s;
  document.getElementById('timer').innerHTML = m + ':' + s;
  remaining -= 1;
  
  if(remaining >= 0 && timerOn) {
    setTimeout(function() {
        timer(remaining);
    }, 1000);
    return;
  }
 document.getElementById('resndTimer').textContent=""
 document.getElementById('resentTxt').style.display="inline";
 var otpFields = document.querySelectorAll('.otpLine');
            otpFields.forEach( (field) =>{
                field.disabled = true;

})
}

timer(60);
</script>
<script src="/javascripts/users/signup.js"></script>
