<link rel="stylesheet" href="/stylesheets/users/profile.css">
<%- include('../../partials/homeHeader',{ totalCartProduct: totalCartProduct}) %>
    <%- include('../../partials/subHeader',allCategories) %>

        <section class="profilepage">
            <div class="pageHead">
                <h2>Your Coupons</h2>
                <p>You can view and add coupon here.</p>
                <hr>
            </div>
            <br><br><br><br>
        </section>
        <%- include('../../partials/footer') %>