<link rel="stylesheet" href="/stylesheets/admin/adminHeader.css">
<nav class="navbar navbar-light bg-light justify-content-between">
    <img class="logo" src="/images/navbar/logo.png" alt="logo">
    <div class="d-flex justify-content-around">
        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/dasboards.png" alt="">
            <a href="/admin/" class="nav_icon_text">Dashboard</a>
        </div>
        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/products.png" alt="">
            <a href="/admin/products" class="nav_icon_text">Products</a>
        </div>
        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/users.png" alt="">
            <a href="/admin/users"class="nav_icon_text">Users</a>
        </div>
        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/orders.png" alt="">
            <a href="/admin/orders" class="nav_icon_text">Orders</a>
        </div>
    </div>  
</nav>
