<link rel="stylesheet" href="/stylesheets/admin/adminHeader.css">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/"><img class="logo" src="/images/navbar/logo.png" alt="logo"></a>

    <div class="d-flex justify-content-around">
        <div class=" nav_icons">
            <img class="nav_icon" src="/images/navbar/dasboards.png" alt="">
            <a href="/admin/" class="nav_icon_text">Dashboard</a>
        </div>

        <div class="dropdown nav_icons">
            <img class="nav_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" src="/images/navbar/products.png" alt="">
            <a class="nav_icon_text " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Products</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-item">
                    <a class="dropdown_text" href="/admin/products">Manage Products</a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown_text" href="/admin/category">Manage Categories</a>
                </div>
            </div>
        </div>
        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/users.png" alt="">
            <a href="/admin/users" class="nav_icon_text">Users</a>
        </div>
        <!-- orders -->
        <div class="dropdown nav_icons">
            <img class="nav_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" src="/images/navbar/orders.png" alt="orders">
            <a class="nav_icon_text " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Orders</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-item">
                    <a class="dropdown_text" href="/admin/orders">Orders</a>
                </div>
                <div class="dropdown-item">
                    <a class="dropdown_text" href="/admin/returns">Returns</a>
                </div>
            </div>
        </div>


        <div class="nav_icons">
            <img class="nav_icon" src="/images/navbar/logout.png" alt="">
            <a href="/admin/logout" class="nav_icon_text">Logout</a>
        </div>
    </div>
</nav>