<link rel="stylesheet" href="/stylesheets/users/footer.css">
<section class="footer-section">
    <div class="footer">
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head">SHOP</p>
                <li class="blocks-list"><a class="blocks-link" href="/products/Ladies/viewAll">Ladies</a></li>
                <li class="blocks-list"><a class="blocks-link" href="/products/Mens/viewAll">Men</a></li>
                <li class="blocks-list"><a class="blocks-link" href="/products/Kids/viewAll">Kids</a></li>
                <li class="blocks-list"><a class="blocks-link" href="/">TrioCart HOME</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Sport</a></li>
            </ul>
        </div>
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head">CORPORATE INFO</p>
                <li class="blocks-list"> <a class="blocks-link" href="#">Career at TrioCart</a></li>
                <li class="blocks-list"> <a class="blocks-link" href="#">About TrioCart group</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Terms of Use</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Sustainability TrioCart Group</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Press </a></li>
            </ul>
        </div>
        <div class="footer-blocks">
            <ul class="blocks-ul">
                <p class="ul-head">HELP</p>
                <li class="blocks-list"><a class="blocks-link" href="#">Customer Service</a></li>
                               <li class="blocks-list"><a class="blocks-link" href="#">Find a store</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Legal & Privacy</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Contact Us</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Cookie Notice</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Cookie settings</a></li>
                <li class="blocks-list"><a class="blocks-link" href="#">Report a scam</a></li>
            </ul>
        </div>
            </div>
    <div class="page-end">
        <div>
            <img class="icon-img" src="/images/home/fb.png" alt="">
            <img class="icon-img" src="/images/home/instagram.png" alt="">
            <img class="icon-img" src="/images/home/youtube.png" alt="">
        </div>
        <p class="footer_txt">The content of this site is copyright-protected and is the property of TrioCart.
            READ MORE</p>
        <p class="footer_txt">TrioCart</p>
        <p class="footer_txt">INDIA | Rs.</p>
    </div>
</section>