<link rel="stylesheet" href="/stylesheets/users/header.css">
<script src="/javascripts/header.js"></script>
<header>
    <!-- !1st section -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div>
            <!-- class="topnav" id="myTopnav" -->
            <!-- <a href="javascript:void(0);" class="icon" onclick="displayHamburger()">
                <i class="fa fa-bars"></i>
              </a> -->
            <a href="#" class="nav_icon_text">Customer Service</a>
            <a href="#about" class="nav_icon_text">Find a Store</a>
        </div>
        <img class="logo" src="/images/navbar/logo.png" alt="logo">
        <div class="form-inline ">
            <div class="dropdown nav_icons">
                <img class="nav_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" src="/images/navbar/profile.png" alt="">
                <p class="nav_icon_text " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Profile</p>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-item">
                        <p class="userWlcme">Hello User!</p>
                        <p class="loginTxt">To access your account please</p>
                        <a href="/login" type="button" class="btn btn-info loginBttn">Login</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item signup_txt" href="/signup">New around here? Signup</a>
                </div>
            </div>
            <div class="nav_icons nav_search">
                <img class="search-icon nav_icon" src="/images/navbar/search.png" alt="">
                <p class="nav_icon_text ">Search</p>
            </div>
            <div class="nav_icons">
                <img class="nav_icon" src="/images/navbar/wishlist.png" alt="">
                <p class="nav_icon_text ">Favourites</p>
            </div>
            <div class="nav_icons">
                <img class="nav_icon" src="/images/navbar/cart.png" alt="">
                <p class="nav_icon_text">Shopping bag</p>
            </div>
        </div>
    </nav>
    <div class="sub-nav navbar navbar-light bg-light justify-content-center ">
        <div class="dropdown">
            <div class="dropbtn">
                <a class="category" href="">Ladies</a>
                <div class="dropdown-content">
                    <p class="show-products">Shop By Product</p>
                    <a class="subCategory" href="#">View all</a>
                    <a class="subCategory" href="#">Tops</a>
                    <a class="subCategory" href="#">Dresses</a>
                    <a class="subCategory" href="#">Jeans</a>
                    <a class="subCategory" href="#">Skirts</a>
                    <a class="subCategory" href="#">Party wears</a>
                </div>
            </div>
            <div class="dropbtn">
                <a class="category" href="">Mens</a>
                <div class="dropdown-content">
                    <p class="show-products">Shop By Product</p>
                    <a class="subCategory" href="#">View all</a>
                    <a class="subCategory" href="#">Shirts</a>
                    <a class="subCategory" href="#">Hoodies & Sweatshirts</a>
                    <a class="subCategory" href="#">Jackets</a>
                    <a class="subCategory" href="#">Jeans</a>
                    <a class="subCategory" href="#">Party wears</a>
                </div>
            </div>
            <div class="dropbtn">
                <a class="category" href="">Kids</a>
                <div class="dropdown-content">
                    <p class="show-products">Girls</p>
                    <a class="subCategory" href="#">View all</a>
                    <a class="subCategory" href="#">Outer Wear</a>
                    <a class="subCategory" href="#">Casuals</a>
                    <a class="subCategory" href="#">Sleep Wear</a>
                    <!-- <a class="subCategory" href="#">Casuals</a>
                    <a class="subCategory" href="#">SleepWear</a> -->
                    <p class="show-products" style="margin-top: 0.8rem;">Boys</p>
                    <a class="subCategory" href="#">View all</a>
                    <a class="subCategory" href="#">Outer Wear</a>
                    <a class="subCategory" href="#">Casuals</a>
                    <a class="subCategory" href="#">Sleep Wear</a>
                    <!-- <a class="subCategory" href="#">Casuals</a>
                    <a class="subCategory" href="#">SleepWear</a> -->
                </div>
            </div>
        </div>
        <div class="search-wrapper ">
            <img class="search-icon" src="/images/navbar/search.png" alt="">
            <input class="search" type="search" id="search" placeholder="Search products...">
            <hr class="search-line" style="margin-top: 0 !important;"/>
        </div>
    </div>
</header>