<div class="col-md-2 sidebar-sctn">
    <div class="sideBar">
        <ul class="sidebar-ul">
            <p class="sideBar-head">Member Exclusive Prices</p>
            <li class="list"><a class="sublist" href="#">Shop Now</a>

                <p class="sideBar-head">New Arrivals</p>
            <li class="list"><a class="sublist" href="#">View all</a>
            <li class="list"><a class="sublist" href="#">Clothes</a>
                <p class="sideBar-head">Shop by Product</p>
            <li class="list"><a class="sublist" href="/products/Ladies/viewAll">Ladies</a>
            </li>
            <li class="list"><a class="sublist" href="/products/Mens/viewAll">Mens</a>
            </li>
            <li class="list"><a class="sublist" href="/products/Kids/viewAll">Kids</a>
            </li>
        </ul>
    </div>
</div>