<link rel="stylesheet" href="/stylesheets/users/header.css">
 <div class="sub-nav navbar navbar-light bg-light justify-content-center ">
        <div class="dropdown">
            <div class="dropbtn">
                <a class="category" href="">Ladies</a>
                <div class="dropdown-content">
                    <p class="show-products">Shop By Product</p>
                    <a class="subCategory" href="/view/ladies">View all</a>
                    <a class="subCategory" href="/products/Ladies/Tops">Tops</a>
                    <a class="subCategory" href="/products/Ladies/Dresses">Dresses</a>
                    <a class="subCategory" href="/products/Ladies/Jeans">Jeans</a>
                    <a class="subCategory" href="/products/Ladies/Skirts">Skirts</a>
                    <a class="subCategory" href="/products/Ladies/Party Wear">Party wears</a>
                </div>
            </div>
            <div class="dropbtn">
                <a class="category" href="">Mens</a>
                <div class="dropdown-content">
                    <p class="show-products">Shop By Product</p>
                    <a class="subCategory" href="/view/mens">View all</a>
                    <a class="subCategory" href="/products/Mens/Shirts">Shirts</a>
                    <a class="subCategory" href="/products/Mens/Hoodies & Sweatshirts">Hoodies & Sweatshirts</a>
                    <a class="subCategory" href="/products/Mens/Jackets">Jackets</a>
                    <a class="subCategory" href="/products/Mens/Jeans">Jeans</a>
                    <a class="subCategory" href="/products/Mens/Party Wears">Party
                        wears</a>
                </div>
            </div>
            <div class="dropbtn">
                <a class="category" href="">Kids</a>
                <div class="dropdown-content">
                    <a class="show-products">Girls</a>
                    <a class="subCategory" href="/view/girls">View all</a>
                    <a class="subCategory" href="/products/Girls/Outer Wear">Outer Wear</a>
                    <a class="subCategory" href="/products/Kids/Casuals">Casuals</a>
                    <a class="subCategory" href="/products/Kids/Sleep Wear">Sleep
                        Wear</a>

                    <a class="show-products" style="margin-top: 0.8rem;">Boys</a>
                    <a class="subCategory" href="/view/boys">View all</a>
                    <a class="subCategory" href="/products/Boys/	Outer Wear">Outer
                        Wear</a>
                    <a class="subCategory" href="/products/Kids/Casuals">Casuals</a>
                    <a class="subCategory" href="/products/Kids/Sleep Wear">Sleep Wear</a>

                </div>
            </div>
        </div>
        <div class="search-wrapper ">
            <img class="search-icon" src="/images/navbar/search.png" alt="">
            <input class="search" type="search" id="search" placeholder="Search products...">
            <hr class="search-line" style="margin-top: 0 !important;"/>
        </div>
    </div>