<link rel="stylesheet" href="/stylesheets/users/home.css">
<link rel="stylesheet" href="/stylesheets/users/header.css">
<script src="/javascripts/header.js"></script>

<div class="fluid">
  <%- include('partials/header') %>
    <div class="subTittle d-flex justify-content-around align-items-center">
      <p class="subTittle-text">Members get free shipping above Rs.1999</p">
      <p class="subTittle-text sbtxt">Free & flexible 15 days return</p>
      <p class="subTittle-text sbtxt">Estimated delivery time: 2-7 days</p>
    </div>
    <section class="sec-2">
      <div class="festive">
        <p class="festive-head">The festive collection</p>
        <p class="festive-sub">Celebrate in standout styles!</p>
        <button type="button" class="btn btn-light button-txt">Ladies</button>
        <button type="button" class="btn btn-light button-txt">Mens</button>
        <button type="button" class="btn btn-light button-txt">Kids</button>
      </div>
    </section>
</div>