* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.couponSection {
  max-width: 80%;
}

.card {
  width: 20rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.co-img img {
  width: 4rem;
}

.vertical {
  border-left: 4px dotted black;
  height: 6rem;
  max-width: 5%; 
}

.content {
  text-align: center;
  max-width: 100%;
}

.TriocartTxt {
  color: #565656;
  font-size: 1.5rem;
  font-weight: 600;
}

.nameTxt {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #a50404;
  text-transform: uppercase;
  font-weight: 600;
}

.usedCoupon {
  color: brown !important;
  font-weight: 600;
}

.discountCoupon {
  color: rgb(24, 116, 1) !important;
  font-weight: 600;
}

.descriptionTxt {
  font-size: 16px;
  color: #696969;
  margin-left: 2.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 980px) {
  .TriocartTxt {
    font-size: 1rem;
  }

  .descriptionTxt {
    font-size: 0.65rem;
  }
}