.logo {
  width: 5rem;
}

.navbar {
  background-color: #f5f3f1 !important;
  padding-top: 1rem !important;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3rem;
  border-right: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.nav_icon_text {
  font-size: 0.9rem !important;
  color: black;
  padding: 0 0.5rem;
}

.nav_icon_text:hover {
  color: black;
}

.nav_icons {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.dropdown-item {
  padding-left: 0.5rem !important;
}

.nav_icon {
  width: 1.5rem;
}

.nav_icons:hover {
  text-decoration: underline;
}

.nav_search {
  display: none;
}

.welcomeTxt {
  margin-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  color: rgb(163, 11, 11);
  font-weight: bold;
}

.dropdown_text {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: none;
}

.dropdown_text:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.dropdown_icon {
  width: 1rem;
}

.signup_txt {
  color: #17a2b8;
  font-size: 0.9rem;
  font-weight: none;

}

.signup_txt:hover {
  color: #17a2b8;
  font-family: bold;
  text-decoration: underline;
}

.sub-nav {
  padding-top: 1.3rem;
  /* margin-top: 1rem; */
}

.search-wrapper {
  display: inline;
  position: relative;
  max-width: 90%;
  margin-top: 1rem;
}

.search-icon {
  width: 1.5rem;
}

.search {
  width: 30rem;
  height: 2.5rem;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  max-width: 100%;
}

.search-line {
  margin: 0;
  border: 1px solid black;
  max-width: 100%;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* display: inline-block; */
}

.dropbtn {
  margin: 0 2rem;
}

.category {
  color: black;
  display: block;
}

.category:hover {
  color: black;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 25rem;
  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.subCategory {
  color: black;
  font-size: 0.8rem;
  text-decoration: none;
  display: block;
  margin-top: 0.5rem;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

.subCategory:hover {
  color: black;
  background-color: #f8f9fa;
}

.show-products {
  font-size: 0.9rem;
  font-weight: bold;
}

.userWlcme {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.loginTxt {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.loginBttn {
  width: 4rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 980px) {
  .nav_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customerTxts {
    display: none;
    width: 1rem;
  }

}

@media only screen and (max-width: 790px) {
  .logo {
    width: 5rem;
  }

  .nav_icon_text {
    display: none;
  }

  .dropdown {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
  }

  .dropbtn {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 12rem;
    top: 100%;
    left: 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media only screen and (max-width: 590px) {
  .dropdown-content {
    display: none;
    position: absolute;
    padding: auto;
    width: 100%;
    top: 100%;
    left: 0;
  }

 
}