.subTittle {
    margin-top: 1rem;
}

.subTittle-text {
    font-size: 0.8rem;
}

.page-sectn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagesctn-contnts {
    background-image: url(/images/home/banner1.png);
    width: 90%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFD578;
    padding: 1rem 0;
}

.pagesctn-head {
    font-weight: bolder;
    font-size: 1.8rem;
}

.pagesctn-sub {
    font-size: 1rem;
    font-weight: 600;
}

.button-txt {
    font-weight: bolder;
}

.adds-sectn {
    position: relative;
    margin: 1.5rem 0;
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.adds-img {
    width: 60rem;
    max-width: 90%;
    margin-bottom: 1rem;
}

.adds-contnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  bottom: 3rem;
    width: 28rem;
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.head {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-bottom: 0.2rem !important;
}

.subHead {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5rem !important;
}

.shopNow-btn {
    width: 6.2rem;
    text-align: center;
}

.pagesctn2-contnts {
    background-image: url(/images/home/banner2.jpg);
    width: 90%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    color: #FFD578;
    padding: 1rem 0;
}

.card-deck {
    max-width: 80%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.newArrivals {
    margin: 1.5rem 0;
}

.card-title {
    font-size: 1rem;
}

.productImg {
    position: relative;
}

.wishlist {
    position: absolute;
    top: 70%;
    left: 85%;
    width: 1.5rem;
}

.wishlist:hover {
    content: url('/images/navbar/redheart.png');
}

@media only screen and (max-width: 980px) {
    .sbtxt {
        display: none;
    }

    .adds-sectn {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .bannerTxts {
        color: #FFD578;
        background-color: rgba(0, 0, 0, 0.13);
    }

    .head {
        font-size: 1rem;
    }

    .subHead {
        font-size: 0.5rem;
    }

    .shopNow-btn {
        width: 5rem;
        font-size: 0.9rem;
        padding: 0.2rem 0.2rem 0 0.2rem !important;
    }

    .adds-contnt {
        width: 20rem;
       
    }

    .emptyHead {
        font-size: 1.2rem;
    }

    .col-sm-3 {
        width: 50% !important;
        max-width: 90%;
    }

    .card {
        width: 12rem !important;
        max-width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .newArrivals_sectn {
        display: none;
    }
}