p {
    margin: 0;
    color: #646363;
    font-size: 0.9rem;
}

.orderpage {
    background-color: #f5f3f1;
}

.noOrders {
    width: 60rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}

.pageHead {
    width: 90rem;
    padding: 2rem 3rem;
    max-width: 100%;
}

.ordercontainer {
    background-color: #f5f3f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.orderSctn {
    width: 70rem;
    max-width: 90%;
}

.orderHeadSctn {
    background-color: #f3f2f1;
    padding: 0.8rem 1rem 1rem 1rem;
    border-bottom: 1px solid black;
    border-radius: 1rem;
    max-width: 100%;
}

.orders {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    margin-top: 2.5rem;
    max-width: 100%;
}

.order {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2.5rem;
}

.orderHeadSub {
    width: 10rem;
    max-width: 90%;

}

.subHead {
    color: #131313;
    font-weight: 600;
}

.prodctSctn {
    background-color: white;
    padding: 0.5rem 2rem 2rem 2rem;
    border-bottom: 1px solid black;
    border-radius: 1rem;
    max-width: 100%;
}

.prodImg {
    width: 6rem;
}

.prodName {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;

}

.returnTxt {
    color: red;
    font-size: 0.8rem;
}

.viewDetails {
    color: #131313;
    text-decoration: underline;
    margin-top: 0.6rem;
}

.commntBtn {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}
.cancelBtn{
    width: 15rem;
}

@media only screen and (max-width: 980px) {
    p {
        font-size: 0.7rem !important;
        font-weight: 600;
    }

    .shipTo {
        display: none !important;
    }

    .prodImg {
        width: 3rem;
    }

    .orderStatusHead {
        display: none;
    }

    .viewDetails {
        margin: 0;
        font-size: 0.7rem;
        font-weight: 600;
    }
    .cancelBtn{
        width: 15rem;
    }
    
}