p {
    margin: 0;
    padding: 0.15rem;
    color: #272727;
    font-size: 0.9rem;
}

.headp {
    padding: 0 !important;
    margin: 0;
}

.orderpage {
    background-color: #f5f3f1;
}

.horizontal-line {
    border-left: 2px solid #000;
    height: 1rem;
    margin: 0 20px;
}

.pageHead {
    width: 80rem;
    padding: 2rem 3rem;
    max-width: 100%;
}

.ordercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.orderSctn {
    width: 70rem;
    max-width: 90%;
}

.orderHeadSctn {
    background-color: #ffffff;
    padding: 1rem 0;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.order {
    max-width: 100%;
    margin-top: 1.5rem;
}

.subHead {
    color: #131313;
    font-weight: 600;
}

.prodctSctn {
    background-color: white;
    padding: 1.5rem 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prodImg {
    width: 5rem;
}

.prodName {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
}

.viewDetails {
    color: #131313;
    text-decoration: underline;
    margin-top: 0.6rem;
}

.commntBtn {
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.viewProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; 

    .cardHead {
        margin-top: 2rem;
        width: 80%;      
        max-width: 100%;
        text-align: center;
    } 

     .cards-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: flex-start;
        width: 80%; 
         max-width: 100%;
        margin-top: 1rem; 
    }

    .col-sm-3 {
        width: 100%; 
       max-width: 100%;
        box-sizing: border-box; 
        padding: 0.5rem; 
    }

    .card {
        width: 100%; 
        max-width: 18rem; 
         margin: 0.5rem;
        
    }

    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 1rem;
        color: black;
        margin-top: 0.5rem;
       
    }

    .card-text {
        font-size: 1rem;
        color: black;
        margin-top: 0.3rem;
    }

    @media only screen and (max-width: 980px) {
        .cards-section {
            justify-content: space-around;
        }
    
        .card {
            width: 100%;
            max-width: 100%;
        }  
      
    }
}
@media only screen and (max-width: 980px) {
    p {
        font-size: 0.6rem !important;
    }
}