.productsSctn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.sidebar-ul {
    padding: 0 1rem;
}

.list {
    list-style: none;
    margin-bottom: 0.5rem;
}

.sublist {
    color: black;
    font-size: 1rem;
}

.sidebar-sctn {
    padding: 0 !important;
    background-color: #f5f3f1;

}

.filterSortSctn {
    background-color: #f5f3f1;
    padding: 0.5rem 0;
    max-width: 100%;
}

.sideBar {
    height: 100vh;
}

.sideBar-head {
    margin: 1rem 0 0.2rem 0;
    font-weight: 700;
}

.addFilter {
    margin-top: 1rem;
    width: 20rem;
    max-width: 70%;
}

.sublist:hover {
    color: rgb(163, 11, 11);
}

.products {
    width: 15rem !important;
}

.cards-section {
    width: 70rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
}

.pageNav {
    max-width: 90%;
}
.searchPagination{
    max-width: 100%;
    width: 65rem;
}
.card-body {
    max-width: 90%;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1rem;
    color: black;
}

.card-text {
    font-size: 1rem;
    color: black;
}

@media only screen and (max-width: 768px) {
    .productsSctn {
        flex-direction: column !important;
    }

    .sidebar-sctn {
        display: none;
    }

    .productListing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards-section {
        margin-top: 2rem;
        width: 70rem;
        max-width: 100%;
    }

    .filterSortSctn {
        width: 40rem !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .productsSctn {
        justify-content: space-around !important;
    }

    .col-sm-3 {
        width: 50% !important;
        max-width: 80%;
    }

    .card {
        width: 12rem !important;
        max-width: 100%;
    }
}