.wishlist {
    width: 1.5rem;
}

.wishlist:hover {
    content: url('/images/navbar/redheart.png');
}

.description {
    white-space: pre-line;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 50%;
}

.image {
    width: 20rem;
    max-width: 100%;
    padding: 0 0.2rem;
    margin: 0.2rem 0;
}

.span {
    height: 1rem;
    color: red;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.addCart {
    height: 1rem;
    color: green;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.modal-lg {
    max-width: 100%;
}

.modal-lg .modal-content {
    width: 100%;
}

.modal-lg .modal-body {
    overflow-y: auto;
}

.subHead {
    padding: 0;
    margin: 0;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}

.original-price {
    position: relative;
    color: #292828;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: 1px solid rgb(190, 9, 9);
        transform: rotate(-20deg);
    }

    &::before {
        transform: rotate(20deg);
    }
}

.offerTxt {
    color: rgb(190, 9, 9);
    font-weight: 600;
}

.details {
    width: 30rem;
    margin-top: 3rem;
    max-width: 45%;
}

.btns {
    width: 13rem;
    font-weight: 700;
    max-width: 100%;
}

.cart {
    width: 1.5rem;
    margin-right: 0.8rem;
}

.viewProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 90%;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1rem;
    color: black;
}

.cardHead {
    margin-top: 6rem;
    width: 74rem;
    max-width: 90%;
}

.card-text {
    font-size: 1rem;
    color: black;
}

@media only screen and (max-width: 980px) {
    .emptyHead {
        font-size: 1.2rem;
    }

    .prodctDetails {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 90% !important;
        margin-top: 0.2rem !important;
    }

    .image {
        width: 10rem;
    }

    .details {
        max-width: 80%;
    }

    .description {
        margin-top: 0 !important;
    }

    .col-sm-3 {
        width: 50% !important;
        max-width: 80%;
    }

    .card {
        width: 12rem !important;
        max-width: 100%;
    }
}