<link rel="stylesheet" href="/stylesheets/users/home.css">
<link rel="stylesheet" href="/stylesheets/users/header.css">
<script src="/javascripts/header.js"></script>

<div class="fluid">
  <%- include('../partials/header') %>
    <div class="subTittle d-flex justify-content-around align-items-center">
      <p class="subTittle-text">Members get free shipping above Rs.1999</p">
      <p class="subTittle-text sbtxt">Free & flexible 15 days return</p>
      <p class="subTittle-text sbtxt">Estimated delivery time: 2-7 days</p>
    </div>
    <!-- add1 -->
    <section class="adds-sectn d-flex justify-content-center">
        <img src="/images/home/img1.avif" class="img-fluid adds-img adds-img" alt="Women in stylishjeans">
        <div class="adds-contnt">
          <p class="head">Meet our stretchiest fits</p>
          <p class="subHead">True to you: denim adapts</p>
          <a href=""  class="btn btn-light shopNow-btn">Shop Now</a>
        </div>
    </section>

    <!-- page redirect1 -->
    <section class="page-sectn">
      <div class="pagesctn-contnts">
        <p class="pagesctn-head">The festive collection</p>
        <p class="pagesctn-sub">Celebrate in standout styles!</p>
        <a href="" type="button" class="btn btn-light button-txt">Ladies</a>
        <a href="" type="button" class="btn btn-light button-txt">Mens</a>
        <a href="" type="button" class="btn btn-light button-txt">Kids</a>
      </div>
    </section>

    <!-- add2 -->
    <section class="adds-sectn d-flex justify-content-center">
        <img src="/images/home/img2.jpg" class="img-fluid adds-img" alt="winterKid">
        <div class="adds-contnt">
          <p class="head-men">Jackets for the win</p>
          <p class="subHead-men">Master the sharp looks throughout the chilly season.</p>
          <a href="" type="button" class="btn btn-dark shopNow-btn">Shop Now</a>
        </div>
    </section>

    <!-- //new Arrivals -->

    <!-- page redirect2 -->
    <section class="page-sectn">
      <div class="pagesctn2-contnts">
        <p class="pagesctn-head">Let's layer up!</p>
        <p class="pagesctn-sub">Breeze into autumn with style, starting ₹1299</p>
        <a href="" type="button" class="btn  btn-dark button-txt">Ladies</a>
        <a href="" type="button" class="btn  btn-dark button-txt">Mens</a>
        <a href="" type="button" class="btn  btn-dark button-txt">Kids</a>
      </div>
    </section>

    <!-- add3 -->
    <section class="adds-sectn d-flex justify-content-center">
        <img src="/images/home/img3.avif" class="img-fluid adds-img" alt="winterKid">
        <div class="adds-contnt">
          <p class="head-men">Winter companion</p>
          <p class="subHead-men">Prepare for winter, styles starting ₹799</p>
          <a href="" type="button" class="btn btn-dark shopNow-btn">Shop Now</a>
        </div>
    </section>
</div>