<link rel="stylesheet" href="/stylesheets/users/productList.css">
<%- include('../partials/header') %>
    <section class="productsSctn d-flex justify-content-between ">

        <div class="col-md-2 sidebar-sctn">
            <div class="sideBar">
                <ul class="sidebar-ul">
                    <p class="sideBar-head">Member Exclusive Prices</p>
                    <li class="list"><a class="sublist" href="#">Shop Now</a>

                        <p class="sideBar-head">New Arrivals</p>
                    <li class="list"><a class="sublist" href="#">View all</a>
                    <li class="list"><a class="sublist" href="#">Clothes</a>

                        <p class="sideBar-head">Shop by Product</p>
                    <li class="list"><a class="sublist" href="/view/ladies">View All</a></li>
                    <li class="list"><a class="sublist" href="#">Tops</a>
                    <li class="list"> <a class="sublist" href="#">Dresses</a></li>
                    <li class="list"> <a class="sublist" href="#">Jeans</a></li>
                    <li class="list"> <a class="sublist" href="#">Skirts</a></li>
                    <li class="list"> <a class="sublist" href="#">Party wears</a></li>
                </ul>
            </div>
        </div>
        
        <div class="cards-section" >
            <% products.forEach(product=>{%>
                
                <div class="col-sm-3" >
                    <div class="card mycard" style="width: 80%;">
                        <div class="text-center">
                            <img class="img-fluid img-thumbnail " src="/<%= product.image %>" alt="Card image cap">
    
                        </div>
                        <div class="card-body"  style="width: 18rem;">
                            <h5 class="card-title">
                                <%=product.name %>
                            </h5>
                            <p class="card-text">
                                <%= product.price %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        
    </section>